// ---------------------------------------------------------------------
//  Link & Button Styles
// ---------------------------------------------------------------------


@mixin btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 231px;
  width: 100%;
  height: 48px;
  text-align: center;
  background: transparent;

  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  transition: background $trans, color $trans, border-color $trans;

  color: $white;
  background: linear-gradient(90deg, #4171F3 4.17%, #922DE2 100%);


  span {
    display: block;

    &:before,
    &:after {
      content: "\00a0";
    }
  }

  &:hover {
    cursor: pointer;
    color: $white;
    background: $blue;
    border-color: $blue;

    svg,
    i {
      transform: translate3d(3px, 0, 0);
    }

    i {
      font-size: 15px;
    }
  }

  &[disabled] {
    opacity: 0.2;
    pointer-events: none;
  }

  @include start-at($medium) {
    width: 230px;
  }
}

.btn,
.wp-block-button__link {
  @include btn;
}

.btn-outline {
  @include btn;
  background: transparent;
  color: $gray;
  border: 1px solid $gray;
}


// ----------------------------------------
// Icon link
// ----------------------------------------

.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    transition: transform $trans;
  }

  span {
    display: block;
  }

  span + svg {
    margin-left: 12px;
  }

  svg:first-child {
    margin-right: 12px;
  }
}



a.icon-link {
  font-weight: 500;

  &:hover {

    span + svg {
      transform: translate3d(3px, 0, 0);
    }

    svg:first-child {
      transform: translate3d(-3px, 0, 0);
    }
  }
}


// ----------------------------------------
// Links
// ----------------------------------------

.rte .link,
a.link {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-bottom: 4px;
  text-decoration: none;

  font-weight: 500;
  color: $brand;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $brand;
    transform: scaleX(1);
    transition: transform $trans;
  }

  &:hover {
    text-decoration: none;
    opacity: 1;

    &:after {
      transform: scaleX(0);
    }
  }
}

.link-gradient {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  text-align: right;
  letter-spacing: -0.01em;
  color: $blue;
  background: linear-gradient(90deg, #4171F3 4.17%, #922DE2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-flex;
  align-items: center;

  span + i,
  i + span {
    margin-left: 4px;
  }
}

// ----------------------------------------
//
// ----------------------------------------

.noTouch .tel,
.noTouch .tel:hover {
  cursor: text;
}
