// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

business {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  @include start-at($medium) {
    max-width: 816px;
    margin: 32px auto;
    z-index: 2;

    .wrapper {
      width: 100%;
      max-width: 100%;
    }
  }
}

.business__featured-image {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 310px;

  @include start-at($medium) {
    height: 408px;
    border-radius: 8px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.business__header-content {
  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid $border;

  @include start-at($header-breakpoint) {
    padding: 24px 0 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h3 {
      margin: 0;
      margin-left: 12px;
      flex-grow: 1;
      width: calc(100% - 348px);
      margin-right: 200px;
    }

    .business-header__social {
      position: absolute;
      right: 0;
      top: 32px;
    }

    .business__header__details {
      margin-top: 12px;
      display: flex;
      align-items: center;
      width: 100%;

      > * + * {
        position: relative;

        &:before {
          content: '•';
          margin: 0 12px;
        }
      }
    }

  }
}

$bl-sm: 84px;
$bl-md: 168px;

.business__logo {
  display: block;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: $bl-sm;
  height: $bl-sm;
  border-radius: 8px;
  border: 2px solid #F4F7FA;
  background: $white;
  margin-bottom: 24px;
  margin-top: -$bl-sm / 2;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @include start-at($header-breakpoint) {
    margin: 0;

  }
}

.business__about,
.business__reviews,
.business__photos {
  padding: 24px 0;
  border-bottom: 1px solid $border;
}



// ----------------------------------------
// Rating Preview
// ----------------------------------------

.rating-preview,
rating-preview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include p-sm;
  font-weight: 500;
  margin: 12px 0;



  i {
    margin-right: 4px;
    color: $yellow;
    font-size: 15px;
  }

  > span:first-of-type:after {
    content: '•';
    margin: 0 4px;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $brand;
      transition: color $trans;
    }
  }

  @include start-at($header-breakpoint) {
    font-size: 16px;

    i {
      font-size: 16px;
    }
  }
}

// business reviews {
//   display: block;
//
//   @include start-at($header-breakpoint) {
//     display: flex;
//     align-items: flex-start;
//     justify-content: space-between;
//     flex-wrap: wrap;
//
//     review {
//       width: calc(50% - 12px);
//       margin-bottom: 24px;
//     }
//   }
// }


// ----------------------------------------
// Business Category
// ----------------------------------------

business-category {
  display: block;
  margin: 12px 0;
  color: #354250;
}


// ----------------------------------------
// Photo Gallery
// ----------------------------------------


.business__photo-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: calc(25% - 4px);
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 0;
    padding-bottom: 25%;
    margin-bottom: 4px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

}
