// ---------------------------------------------------------------------
//  Utility Classes
// ---------------------------------------------------------------------

.has-accent-top {
  position: relative;

  &:before {
    content: '';
    position: relative;
    width: 64px;
    height: 1px;
    background: linear-gradient(90deg, #4171F3 4.17%, #922DE2 100%);
    display: block;
    margin-bottom: 36px;
  }
}


.icon-circle {
  width: 48px;
  height: 48px;
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $brand;
  border-radius: 50%;

  i {
    font-size: 20px;
    color: $white;
  }
}

.icon-cirlce--green {
  background: linear-gradient(90deg, #9BE15D 4.17%, #00E3AE 100%);
}
.icon-cirlce--pink {
  background: linear-gradient(90deg, #F77062 0%, #FE5196 100%);
}
.icon-cirlce--blue {
  background: linear-gradient(90deg, #4171F3 4.17%, #922DE2 100%);
}

.text-center-md {

  @include start-at($medium) {
    text-align: center;
  }
}

.img-square {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}


// ----------------------------------------
//
// ----------------------------------------

.flex-flip-sm {
  @include start-at($small) {
    order: 4;
  }
}


// ----------------------------------------
// Text
// ----------------------------------------

.text-center {
  text-align: center;

  p, img, .text-thin {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-thin {
  max-width: 560px;
}

.text-brand {
  color: $brand;
}

.text-white {
  color: $white !important;
}

.text-light {
  color: $gray;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: 700;
}

.font-weight-500 {
  font-weight: 500;
}

.sr-only,
.screen-reader-text {
  @include visually-hidden;
}


// ----------------------------------------
// Backgrounds
// ----------------------------------------

.bg-light {
  background: $gray-light;
}

.bg-brand {
  background: $black;
  color: $white;

  p {
    color: $white;
  }
}

.bg-dark,
.bg-black {
  background: $black;
  color: $white;

  p {
    color: $white;
  }
}
