// ---------------------------------------------------------------------
//
// ---------------------------------------------------------------------

.slider--business {
  @include start-at($header-breakpoint) {
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0;

    business-preview,
    .spacer {
      display: flex;
      width: calc(25% - 24px);
      min-width: calc(25% - 24px);
      margin: 0 0 24px;
    }
  }
}

// ----------------------------------------
// Business Preview
// ----------------------------------------

business-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
  font-size: 12px;
  width: 244px;
  min-width: 244px;
  height: auto;
  margin-right: 16px;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    border: 1px solid #4171f3;
    // border-image-slice: 4;
    // border-width: 1px;
    // border-image-source: linear-gradient(to left, #4171F3, #922DE2);
    border-radius: 8px;
    opacity: 0;
    transition: opacity $trans;
  }

  &:hover {
    cursor: pointer;

    &:after {
      opacity: 1;
    }
  }

  @include start-at($medium) {
    min-width: 360px;
    width: 360px;
    font-size: 14px;
  }
}

.business-preview__featured-image {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 183px;

  @include start-at($medium) {
    height: 240px;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.business-preview__content {
  padding: 16px;
  border: 1px solid $border;
  border-top: none;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;

  @include start-at($medium) {
    padding: 24px;
  }

  h4 {
    margin-bottom: 0;
  }

  rating-preview,
  business-category {
    margin: 8px 0;
  }

  rating-preview {
    font-size: 12px;
  }
}

search-results {
  business-preview {
    display: flex;
    width: 100%;
    height: auto;
    min-width: 100%;
    padding: 20px;
    border: 1px solid $border;
    margin: 12px 0;

    @include start-at($header-breakpoint) {
      font-size: 14px;
      margin: 24px 0;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      border: 1px solid #4171f3;
      border-radius: 8px;
      opacity: 0;
      transition: opacity $trans;
    }

    &:hover {
      cursor: pointer;

      &:after {
        opacity: 1;
      }
    }

    @include start-at($medium) {
      min-width: 100%;
      width: 100%;
    }
  }

  .business-preview__featured-image {
    width: 68px;
    height: 68px;
    min-width: 68px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-right: 18px;

    @include start-at($header-breakpoint) {
      width: 144px;
      height: 144px;
      min-width: 144px;
      margin-right: 24px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .business-preview__content {
    border: none;
    padding: 0;
    margin: 0;

    h4 {
      font-size: 14px;
    }

    @include start-at($header-breakpoint) {
      h4 {
        width: 100%;
        font-size: 16px;
        margin-top: 8px;
      }
      rating-preview {
        width: 100%;
      }

      business-category,
      address {
        display: inline;
      }
    }
  }
}

.busiess-preview__review {
  display: none;

  @include start-at($header-breakpoint) {
    display: flex;
    align-items: flex-start;
    margin-top: 16px;

    i {
      font-size: 22px;
      margin-right: 12px;
    }

    a {
      text-decoration: underline;
      font-weight: 600;
    }
  }
}
