// ---------------------------------------------------------------------
//  Form Styles
// ---------------------------------------------------------------------

.main-contact {
  width: 816px;
  margin: 0 auto;

  label {
    margin-bottom: 4px;
    display: block;
  }

  .form-field {
    position: relative;
    margin-bottom: 24px;
  }

  $input-height: 44px;

  input[type="email"],
  input[type="text"],
  input[type="tel"],
  textarea {
    display: block;
    background-color: transparent;
    width: 100%;
    height: $input-height;
    border-radius: 4px;
    border: 1px solid $form-border;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 400;
    color: $black;

    @include stop-at($header-breakpoint) {
      height: 60px;
      font-size: 16px;
    }
  }

  textarea {
    height: 192px;
    border: 1px solid $form-border;
    border-radius: 4px;
    padding: 12px;
  }

  button,
  input[type="submit"] {
    @include btn;
    border: none;
    appearance: none;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      outline: none;
    }
  }
}

// ----------------------------------------
// Placeholder Styles
// ----------------------------------------

@mixin placeholder-styles {
  opacity: 1;
  transition: opacity $transition;
}

::-webkit-input-placeholder {
  @include placeholder-styles;
}
::-moz-placeholder {
  @include placeholder-styles;
}
:-ms-input-placeholder {
  @include placeholder-styles;
}
:-moz-placeholder {
  @include placeholder-styles;
}

input:focus {
  &::-webkit-input-placeholder {
    opacity: 0.4;
  }
  &::-moz-placeholder {
    opacity: 0.4;
  }
  &:-ms-input-placeholder {
    opacity: 0.4;
  }
  &:-moz-placeholder {
    opacity: 0.4;
  }
}

// ---------------------------------------------------------------------
//  Form Styles
// ---------------------------------------------------------------------

// ----------------------------------------
// Review form
// ----------------------------------------
//
// .ratings {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//
//
//   input {
//     @include visually-hidden;
//   }
//
//   label {
//     position: relative;
//     z-index: 1;
//     width: 36px;
//     height: 36px;
//     font-size: 0;
//     text-indent: -9999px;
//     margin: 8px;
//
//     &:hover {
//       cursor: pointer;
//     }
//
//     &:before,
//     &:after {
//       content: '';
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       display: block;
//       position: absolute;
//       transition: opacity 0.3s ease-in-out;
//     }
//
//     &:before {
//       z-index: 1;
//       background: url('../img/svgs/star-outline.svg') center / cover no-repeat;
//     }
//
//     &:after {
//       opacity: 0;
//       z-index: 2;
//       background: url('../img/svgs/star.svg') center / cover no-repeat;
//     }
//
//     &.is-hover {
//       &:after {
//         opacity: 1;
//       }
//     }
//   }
//
//
//   input.is-active + label,
//   input:checked + label {
//
//     &:after {
//       opacity: 1;
//     }
//   }
//
//   input:hover + label {
//     &:after {
//       opacity: 1;
//     }
//   }
// }
