// ---------------------------------------------------------------------
//  SCSS Settings
// ---------------------------------------------------------------------


// ----------------------------------------
// Fonts
// ----------------------------------------

// 400 | 500 \ 600
$sans-serif: 'Graphik', sans-serif;

// ----------------------------------------
// Font Size/ Line Height
// ----------------------------------------
$main-font: $sans-serif;
$base-font-size: 14px;
$base-line-height: 1.5;


// ----------------------------------------
// Colors
// ----------------------------------------

$brand: #D13761; // red
$red: #D13761;
$blue: #489AE9;
$yellow: #FFBE00;
$green: #45C78A;
$purple: #922DE2;

$gradient-green: linear-gradient(90deg, #9BE15D 4.17%, #00E3AE 100%);
$gradient-pink: linear-gradient(90deg, #F77062 0%, #FE5196 100%);
$gradient-blue: linear-gradient(90deg, #4171F3 4.17%, #922DE2 100%);


$white: #ffffff;
$black: #15171A;

$border: #E0E3E6;
$form-border: #C2C5C8;


$gray-light: #F4F7FA;
$gray: #354250;

$error: #FF595A;


// ----------------------------------------
// Breakpoints
// ----------------------------------------

$xxlarge: 1600px;
$xlarge: 1280px;
$large: 1012px;
$medium: 768px;
$small: 544px;


@mixin start-at($device-width) {
  @media (min-width: $device-width) {
    @content;
  }
}

@mixin stop-at($device-width) {
  @media (max-width: $device-width - 1) {
    @content;
  }
}


// ----------------------------------------
// Global Variables
// ----------------------------------------


$header-breakpoint: $large;

$transition-speed: 0.4s;
$transition: $transition-speed ease;
// cuz I no type good
$trans: $transition-speed ease;

$bounce: cubic-bezier(0.68,-0.55,0.27,1.55);

$wrapper-percentage: 92%;
$wrapper-width: 1248px;
$wrapper-padding: (100% - $wrapper-percentage) / 2;
