// ---------------------------------------------------------------------
//  Site Footer Styles
// ---------------------------------------------------------------------

.site-footer {
  overflow: hidden;
  padding: 20px 0;
  background: $black;
  color: $white;

  @include start-at($small) {
    padding: 36px 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    position: relative;

    @include start-at($large) {
      text-align: left;
      justify-content: flex-start;
    }
  }

  .site-footer-icon {
    display: inline-block;
    margin: 0 auto;

    @include start-at($large) {
      margin: 0;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    text-align: center;

    li {
      margin: 0 14px;
    }

    i {
      font-size: 24px;
    }

    a {
      transition: color $trans;

      &:hover {
        color: $blue;
      }
    }

    @include start-at($large) {
      justify-content: flex-start;

      li {
        margin: 0 24px 0 0;
      }
    }
  }

  .social-list a {

  }

  .social-list {

    @include start-at($large) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      justify-content: flex-end;
      margin: 0;

      li {
        margin: 0 0 0 24px;
      }
    }
  }


  .legal-list {
    small, a {
      font-size: 13px;
    }

    a {
      text-decoration: underline;
    }
  }
}
